.DS_Store
src/.DS_Store
src/main/.DS_Store
.classpath
.project
bin/com/crumbdev/crumb/Crumb.class
bin/com/thenetdev/Commons/Debug.class
bin/com/thenetdev/Commons/Keyboard.class
.idea
target/
Crumb.iml